

.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.axis line,
.axis path,
.axis line,
.axis path {
    fill: none;
    stroke: #000;
}

text {
    font-size: 85%;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.preview-overlay {
    fill: #353535;
}

.preview-overlay text {
    fill: black;
}

.focus {
    fill: steelblue;
}

.focus circle {
    fill: red;
}

.focus text {
    fill: red;
    font-size: 180%;
}