

.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.axis line,
.axis path,
.axis line,
.axis path {
    fill: none;
    stroke: #000;
}

text {
    font-size: 85%;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.preview-overlay {
    fill: linen;

    -webkit-transition: 1s ;
    -moz-transition: 1s ;
    -o-transition: 1s ;
    transition: 1s ;
}

.preview-overlay text {
    fill: black;
}

.focus {
    fill: steelblue;
}

.focus circle {
    fill: red;
    /*fill: magenta;*/
    /*stroke: steelblue;*/
}

.focus text {
    fill: red;
    font-size: 180%;
}